<template>
  <v-container>
    <v-layout>
      <v-text-field
        prepend-icon="mdi-magnify"
        hide-details
        :loading="isLoading"
        @input="search"
      />
    </v-layout>

    <v-list class="mt-5" v-if="cards.length">
      <v-list-item v-for="card in cards" :key="card.id">
        <v-img
          v-if="card.image_uris"
          :src="card.image_uris.small"
          max-width="100"
          contain
          class="search-card-image"
        />
        <v-list-item-content>
          <v-list-item-title>{{ card.name }}</v-list-item-title>
          <v-list-item-subtitle>
            {{ card.type_line }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script>
import { debounce } from "lodash";
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState({
      cards: store => store.cards.data,
      isLoading: store => store.cards.isLoading
    })
  },
  methods: {
    ...mapActions("cards", ["searchCards"]),

    search: debounce(function(value) {
      this.searchCards(value);
    }, 300)
  }
};
</script>

<style>
.search-card-image {
  height: 5rem;
  margin: 0.5rem 1rem 0.5rem 0;
}
</style>
